@page "/"

<PageTitle>Index</PageTitle>





@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<div class="row">
    <div class="rz-border-base-900 col-sm-12 col-md-6 col-lg-6 " id="messageDiv">
        <br />
        <mark>“Hello World!”</mark>
        These words are synonymous to the very first steps to any programming language.
        <br />
        <br />

        So let's start a “hello world!” journey. Trying to understand simple programming and how to think towards solutions.
        Also, there will be miscellaneouse thoughts thrown in. Just to take a break everynow and then.
        <br />
        <br />
        I am a .NET developer, not an expert but a learner. Whatever I learn, I love to simplify and teach. I believe that any complex topic can be broken down and simplified well enough to no longer be considered complex.
        <br />
        <br />
        In this journey, we will explore C# and .NET. The basic language syntax can be found anywhere, so I will skip that part. Instead, we will look at a problem statement and start with the simplest solution. Then, we will examine different ways to solve the same problem.
        <br />
        <br />
        I hope to learn a lot from this exercise, and I hope you do too.

    </div>

    <div class="col-sm-12 col-md-6 col-lg-6" id="imgContainer">
        <img src="/images/home001.png" alt="home image">
    </div>
</div>

