<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BeatTheCode.in</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="position-static @NavMenuCssClass" @onclick="ToggleNavMenu">
   @* <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3" @onclick:stopPropagation="true">
            <a class="nav-link" @onclick="ToggleChapters">
                <span class="oi oi-book" aria-hidden="true"></span> Chapters
            </a>
            @if (chaptersExpanded)
            {
                <div class="nav-item px-3">
                    <a class="nav-link" href="problemstatement">
                        Problem
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#">
                        Prerequisites
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#">
                        Solution thinking
                    </a>
                </div>
            }
            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Stories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reach me
            </NavLink>
        </div>
        
    </nav>*@
    <RadzenPanelMenu Click="OnParentClicked" Style="width:250px" Multiple="true">
        <RadzenPanelMenuItem Text="Home" Icon="home">
            <RadzenPanelMenuItem Text="Hello, World" Path="" Icon="explore"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Say Hi!" Path="profile" Icon="account_circle"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text=".net curry" Icon="payment">
            <RadzenPanelMenuItem Text="Main Ingredient" Path="ProblemStatement" Icon="book"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Basic Cooking" Path="textbox" Icon="check_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Console Wala" Path="textarea" Icon="description"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="WPF Wala" Path="password" Icon="dashboard"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Web Wala" Path="numeric" Icon="open_in_browser"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Maui Wala" Path="datepicker" Icon="andriod"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Miscellaneous" Icon="save">
            <RadzenPanelMenuItem Text="Hi there" Path="datagrid" Icon="grid_on"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Containers" Icon="account_box">
            <RadzenPanelMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Card" Path="card" Icon="line_style"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="More">
            <RadzenPanelMenuItem Click="OnChildClicked" Text="Item1"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Click="OnChildClicked" Text="Item2"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="More items">
                <RadzenPanelMenuItem Text="More sub items">
                    <RadzenPanelMenuItem Click="OnChildClicked" Text="Item3"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Click="OnChildClicked" Text="Item4"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool chaptersExpanded = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;     
    }

    private void ToggleChapters()
    {
        chaptersExpanded = !chaptersExpanded;
    }

    void OnParentClicked(MenuItemEventArgs args)
    {
        //Console.Log($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} from child clicked");
    }
}
