<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BeatTheCode.in</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="position-static @NavMenuCssClass" @onclick="ToggleNavMenu">
  
    <RadzenPanelMenu Click="OnParentClicked" Style="width:250px" Multiple="true">
        <RadzenPanelMenuItem Text="Home" Icon="home">
            <RadzenPanelMenuItem Text="Hello, World" Path="" Icon="explore"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Say Hi!" Path="" Icon="account_circle"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text=".net curry" Icon="payment">
            <RadzenPanelMenuItem Text="Main Ingredient" Path="ProblemStatement" Icon="book"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Basics" Path="basics" Icon="check_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Console" Path="" Icon="description"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Desktop" Path="" Icon="dashboard"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Web" Path="" Icon="open_in_browser"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Mobile" Path="" Icon="android" ></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Miscellaneous" Icon="save">
            <RadzenPanelMenuItem Text="Hi there" Path="" Icon="grid_on"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="About us" Icon="account_box">
            <RadzenPanelMenuItem Text="About me" Path="AboutMe" Icon="tab"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Team" Path="" Icon="content_paste"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        @*<RadzenPanelMenuItem Text="More">
            <RadzenPanelMenuItem Click="OnChildClicked" Text="Item1"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Click="OnChildClicked" Text="Item2"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="More items">
                <RadzenPanelMenuItem Text="More sub items">
                    <RadzenPanelMenuItem Click="OnChildClicked" Text="Item3"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Click="OnChildClicked" Text="Item4"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenuItem>*@
    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool chaptersExpanded = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;     
    }

    private void ToggleChapters()
    {
        chaptersExpanded = !chaptersExpanded;
    }

    void OnParentClicked(MenuItemEventArgs args)
    {
        //Console.Log($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} from child clicked");
    }
}
